
<form method="POST" action="/book/create">
    <h1>New Book</h1>
    <input type="text" placeholder="name" name="name"/><br/>
    <input type="text" placeholder="description" name="description"/><br/>
    <input type="text" placeholder="isbn" name="isbn"/><br/>
    <input type="submit" value="OK"/>
</form>
<pre>
  <%= books %>  
</pre>